<div class="ember-table-table-fixed-wrapper">
  {{#if numFixedColumns}}
    {{footer-block
      content=footerContent
      columns=fixedColumns
      width=fixedBlockWidth
      height=footerHeight
      class="ember-table-left-table-block"
    }}
  {{/if}}
  {{footer-block
    content=footerContent
    columns=tableColumns
    scrollLeft=scrollLeft
    width=tableBlockWidth
    height=footerHeight
    class="ember-table-right-table-block"
  }}
</div>
