<div style={{rowWidthSafeString}}>
{{#each content as |item|}}
	{{component item.headerCellViewClass
	    content=item
	    headerHeight=headerHeight
  		columnMode=columnMode
  		columnsFillTable=columnsFillTable
	}}
{{/each}}
</div>
