<div class="ember-table-table-fixed-wrapper">
  {{#if numFixedColumns}}
    {{view "header-block"
      columns=fixedColumns
      width=fixedBlockWidth
      height=headerHeight
      class="ember-table-left-table-block"
    }}
  {{/if}}
  {{view "header-block"
    columns=tableColumns
    scrollLeft=scrollLeft
    width=tableBlockWidth
    height=headerHeight
    class="ember-table-right-table-block"
  }}
</div>
