<div class="ember-table-table-fixed-wrapper">
  {{#if numFixedColumns}}
    {{header-block
      columns=fixedColumns
      rowWidth=fixedBlockWidth
      rowHeight=headerHeight
      enableColumnReorder=enableColumnReorder
      isShowingSortableIndicator=isShowingSortableIndicator
      sortableIndicatorLeft=sortableIndicatorLeft
      class="ember-table-left-table-block"
    }}
  {{/if}}
  {{header-block
    columns=tableColumns
    scrollLeft=scrollLeft
    rowWidth=tableBlockWidth
    rowHeight=headerHeight
    enableColumnReorder=enableColumnReorder
    isShowingSortableIndicator=isShowingSortableIndicator
    sortableIndicatorLeft=sortableIndicatorLeft
    class="ember-table-right-table-block"
  }}
</div>
